<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
      <label for="man">
        <input type="radio" id="man"  value="男" v-model="sex">男
      </label>
      <label for="woman">
        <input type="radio"  value="女" id="woman" v-model="sex">女
      </label>
      <h2>{{sex}}</h2>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: '你好啊',
            sex: '男'
        }
    })
</script>
</body>
</html>