<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="app">
    <div v-if="books.length != 0">
      <table>
        <thead>
          <th>书籍名称</th>
          <th>出版日期</th>
          <th>价格</th>
          <th>购买数量</th>
          <th>操作</th>
        </thead>
        <tbody>
          <tr v-for="(item, index) in books" >
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.data}}</td>
            <td>{{item.price}}</td>
            <td>
              <button>-</button>
              {{item.count}}
              <button>+</button>
            </td>
            <td><button @click="remove">移除</button></td>
          </tr>
        </tbody>
      </table>
      <h2>总价格： {{totilPrice}}</h2>
    </div>
    <div v-else>牛逼</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>